name: CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - run: go test -v ./...
      - name: Vulnerability check
        run: go run golang.org/x/vuln/cmd/govulncheck@latest ./...
